/* defaults */
:root {
  font-size: 87.5%;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #999999;
}
button {
  background-color: rgb(56, 151, 240);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: none;
  padding: 9px;
}
/* custom styles */
#user-flow {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
}
#user-flow > * {
  padding-left: 40px;
  padding-right: 40px;
}
#user-flow > *:not(:last-child) {
  border: 1px solid lightgrey;
}
#user-flow > #app-store {
  display: flex;
}
#user-flow #app-store img {
  width: 49%;
}
#user-flow img {
  max-width: 100%;
}
#user-flow h1:first-child {
  margin-bottom: 0.25em;
}
#user-flow #signup {
  margin-bottom: 0.75em;
}
#signup {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
#signup h1 {
  font-size: 3.25em;
  font-style: italic;
}
#signup h2 {
  font-size: 1.25em;
}
#signup h2,
#signup #signup-form input,
#signup #terms,
#signup #signup-seperator {
  color: rgb(153, 153, 153);
}
#signup button.login-facebook {
  font-weight: bold;
}

#signup-form {
  display: flex;
  flex-direction: column;
}
#signup-form input:not(:last-of-type) {
  margin-bottom: 0.5em;
}
#signup-form input {
  border-radius: 0.125em;
  /* height: 40px; */
  padding: 9px 0px 7px 8px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid rgb(219, 219, 219);
}
#signup-seperator {
  /* display: inline; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
#signup-seperator .hr {
  height: 1px;
  background-color: #dbdbdb;
  width: 50%;
}
#signup-seperator .text {
  margin-left: 1em;
  margin-right: 1em;
  color: #999999;
}

#login a {
  color: #3897f0;
}
footer {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}
footer nav {
  display: flex;
}
footer nav ul li a {
  /* display: block; */
  color: rgb(0, 53, 105);
  text-decoration-color: rgb(0, 53, 105);
}
footer nav ul li {
  list-style-type: none;
  flex-wrap: wrap;
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
footer span {
  font-size: 90%;
}
#logo {
  content: "hello world";
  background-image: url("./instagram.png");
  background-repeat: no-repeat;
  background-size: 100% 75px;
  height: 75px;
}
